In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from astropy.coordinates import SkyCoord
import astropy.units as u

In [5]:
t = pd.read_csv("ds9.tsv", delimiter="\t")

In [6]:
t

,_RAJ2000,_DEJ2000,GSC2.3,RAJ2000,DEJ2000,Epoch,Fmag,jmag,Vmag,Nmag,Class,Status,a,e
0,250.228741,36.322915,N61Q000270,250.228741,36.322915,2000.000,NaN,NaN,10.73,NaN,0,99999900,NaN,NaN
1,250.595559,36.345197,N61Q000262,250.595559,36.345197,2000.000,NaN,NaN,10.86,NaN,0,99999900,NaN,NaN
2,250.248615,36.467774,N61I000452,250.248615,36.467774,2000.000,NaN,NaN,10.87,NaN,0,99999900,NaN,NaN
3,250.212156,36.452658,N61I000462,250.212156,36.452658,2000.000,NaN,NaN,10.99,NaN,0,99999900,NaN,NaN
4,250.160369,36.385155,N61I000505,250.160369,36.385155,2000.000,NaN,NaN,11.14,NaN,0,99999900,NaN,NaN
5,250.203992,36.316397,N61Q000273,250.203992,36.316397,1993.322,10.47,12.71,11.31,9.19,0,101111207,11.32,0.02
6,250.634790,36.510696,N61D000054,250.634790,36.510696,2000.000,NaN,NaN,11.41,NaN,0,99999900,NaN,NaN
7,250.331587,36.354406,N61Q000253,250.331587,36.354406,1993.322,11.03,12.74,11.65,10.46,0,1101111507,10.22,0.11
8,250.032350,36.373635,N61I000512,250.032350,36.373635,1991.570,NaN,NaN,11.71,NaN,0,99999900,NaN,NaN
9,250.653024,36.626659,N61D000040,250.653024,36.626659,2000.000,NaN,NaN,11.82,NaN,0,99999900,NaN,NaN

In [8]:
star_0 = SkyCoord(t.RAJ2000[0], t.DEJ2000[0], unit="deg")
star_1 = SkyCoord(t.RAJ2000[1], t.DEJ2000[1], unit="deg")
star_2 = SkyCoord(t.RAJ2000[2], t.DEJ2000[2], unit="deg")
star_3 = SkyCoord(t.RAJ2000[3], t.DEJ2000[3], unit="deg")
star_4 = SkyCoord(t.RAJ2000[4], t.DEJ2000[4], unit="deg")
star_5 = SkyCoord(t.RAJ2000[5], t.DEJ2000[5], unit="deg")

In [9]:
dist01 = star_0.separation(star_1)
dist23 = star_2.separation(star_3)
dist45 = star_4.separation(star_5)

In [14]:
dist01, dist23, dist45

(<Angle 0.29633858 deg>, <Angle 0.03298976 deg>, <Angle 0.07721443 deg>)